#header {
    margin-bottom: 1em;
    background: rgba(255, 0, 245, 0.25);
    border-bottom: 2px solid var(--magenta);

    #full-nav {
        display: flex;
        @media (max-width: 499px) {
            display: none;
        }
    }

    #mobile-nav {
        @media (min-width: 500px) {
            display: none;
        }
        @media (max-width: 500px) {
            display: flex;
            > i {
                font-size: 3em;
            }
            .overlay {
                position: absolute;
                z-index: 1;
                width: 100vw;
                height: fit-content;
                left: 0px;
                top: 82px;
                background: rgb(65, 9, 62);
                a {
                    color: white;
                }
                box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
            }
        }
    }

    ul {
        list-style-type: none;
    }

    .dropdown-menu {
        background-color: var(--black);
        color: var(--white);
        box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
    }

    .dropdown-item {
        color: var(--white);
        &:hover {
            background-color: unset;
        }
    }

    .dropdown-divider {
        height: 1px;
        background-color: var(--white);
    }

    .btn {
        color: var(--white);
        font-size: 1.5em;
        &:hover,
        &.show {
            color: var(--black);
        }
    }

    .category,
    .category:hover {
        background: rgba(255, 255, 255, 0.5) !important;
        color: black !important;
    }

    .sub-category {
        text-transform: uppercase;
    }

    /* header buttons */
    .btn-group:nth-child(1n) {
        > .btn:hover,
        > .btn.show {
            background-color: var(--yellow);
        }
        a:hover {
            color: var(--yellow) !important;
        }
    }

    .btn-group:nth-child(2n) {
        > .btn:hover,
        > .btn.show {
            background-color: var(--green);
        }
        a:hover {
            color: var(--green) !important;
        }
    }

    .btn-group:nth-child(3n) {
        > .btn:hover,
        > .btn.show {
            background-color: var(--blue);
        }
        a:hover {
            color: var(--blue) !important;
        }
    }

    .btn-group:nth-child(4n) {
        > .btn:hover,
        > .btn.show {
            background-color: var(--purple);
        }
        a:hover {
            color: var(--purple) !important;
        }
    }
}
