#home {
  hr.thick-hr {
    /* Adjust the value for desired thickness */
    height: 3px;
    /* Optional: set a background color */
    background-color: var(--white);
    /* Remove default border */
    border: none;
  }

  .skill-box {
    text-align: center;
    @media (max-width: 768px) {
      /* small screen */
      padding: 5em 10em;
      &:nth-child(2) {
        border-top: 5px solid var(--cyan);
        border-bottom: 5px solid var(--cyan);
      }
    }
    @media (min-width: 769px) {
      /* large screen */
      padding: 3em;
      &:nth-child(2) {
        border-left: 5px solid var(--cyan);
        border-right: 5px solid var(--cyan);
      }
    }
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  #skills {
    @media (min-width: 769px) {
      /* large screen */
      display: flex;
      flex-direction: row;
      margin-top: 4em;
    }
    @media (max-width: 768px) {
      /* small screen */
      display: flex;
      flex-direction: column;
    }
  }

  h2 {
    @media (max-width: 1024px) {
      width: 33.33333333% !important;
    }
  }

  .header-accent {
    @media (max-width: 768px) {
      /* small screen */
      display: none;
    }
  }

  #accent-border {
    @media (max-width: 575px) {
      position: relative;
      padding: 2rem;
      background: none; /* inner bg */
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 10px; /* border thickness */
        background:
          linear-gradient(to right, var(--magenta), var(--yellow)) top,
          linear-gradient(to bottom, var(--yellow), var(--green)) right,
          linear-gradient(to left, var(--green), var(--blue)) bottom,
          linear-gradient(to top, var(--blue), var(--magenta)) left;
        background-size:
          100% 10px,
          0px 100%,
          100% 10px,
          0px 100%;
        background-repeat: no-repeat;
        background-origin: border-box;
        -webkit-mask:
          linear-gradient(var(--white) 0 0) content-box,
          linear-gradient(var(--white) 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
      }
    }
    @media (max-width: 768px) and (min-width: 576px) {
      position: relative;
      padding: 2rem;
      background: none; /* inner bg */
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 10px; /* border thickness */
        background:
          linear-gradient(to right, var(--magenta), var(--yellow)) top,
          linear-gradient(to bottom, var(--yellow), var(--green)) right,
          linear-gradient(to left, var(--green), var(--blue)) bottom,
          linear-gradient(to top, var(--blue), var(--magenta)) left;
        background-size:
          100% 10px,
          10px 100%,
          100% 10px,
          10px 100%;
        background-repeat: no-repeat;
        background-origin: border-box;
        -webkit-mask:
          linear-gradient(var(--white) 0 0) content-box,
          linear-gradient(var(--white) 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
      }
    }
  }

  img {
    height: 10em;
  }

  .image-wrapper {
    position: relative;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .overlay {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-around;

    > div {
      display: flex;
      justify-content: space-around;
      width: 100%;
      @media (max-width: 1024px) and (min-width: 769px) {
        margin-bottom: 3em;
        > button {
          margin: 1em;
        }
      }
    }

    @media (max-width: 1024px) and (min-width: 769px) {
      top: 43%;
      left: 50%;
      flex-direction: column;
    }
  }

  #actions-mobile {
    display: none;
    @media (max-width: 768px) {
      margin-top: 3em;
      margin-bottom: 3em;
      display: flex;
    }
    @media (max-width: 1024px) and (min-width: 769px) {
      display: none;
    }
  }

  > #main,
  > #main > div {
    padding-right: 0;
    padding-left: 0;
  }

  #actions {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .btn-actions {
    color: var(--white);
    border-color: var(--magenta);
    box-shadow: 0 0 20px 1px var(--magenta);
    border-radius: 40px;
    white-space: nowrap;
    width: 20em;
    @media (max-width: 768px) {
      margin-bottom: 3em;
    }
  }

  .btn > h3 {
    margin: 0;
    padding: 0.5em 1em;
  }
}
