:root {
  --orange: rgb(255, 119, 0);
  --yellow: rgb(255, 255, 0);
  --green: rgb(0, 255, 0);
  --cyan: rgb(0, 255, 255);
  --blue: rgb(0, 0, 255);
  --magenta: rgb(255, 0, 255);
  --purple: rgb(138, 43, 226);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}

html {
  display: flex;
  width: 100%
}

body {
  font-family: "Inter", sans-serif;
  background: var(--black);
  color: white;
  width: 100%;
}

.main {
  padding: 1em;
  max-width: 100vw !important;
}

/* fonts */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Italic";
  src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

h1,
.h1 {
  font-size: 70px;
  font-weight: lighter;
}

h2,
.h2 {
  font-size: 40px;
  font-weight: normal;
}

h3,
.h3 {
  font-size: 35px;
  font-weight: normal;
}

h4,
.h4 {
  font-size: 30px;
  font-weight: normal;
}

h5,
.h5,
li,
p {
  font-size: 24px;
}

p {
  font-weight: normal;
}