<div id="footer" class="row">
    <div class="d-flex flex-column text-center py-4">
        <p class="h3">Katie Wiessfelt</p>
        <p class="h4">Web Developer</p>
        <p class="h4"><a href="mailto: wiessfeltk90@gmail.com">Contact me</a></p>
    </div>
</div>

<style>

#footer {
  margin-top: 1em;
  background: rgba(255, 0, 245, .25);
  border-top: 2px solid var(--magenta);
}

</style>