<div id="footer" class="row">
    <div class="d-flex flex-row justify-content-around">
        <a href="/">Home</a>
        <a href="/projects">Portfolio</a>
        <a href="/work-history">Experience</a>
        <a href="/about">About Me</a>
    </div>
</div>

<style>

#footer {
  margin-top: 1em;
  background: rgba(255, 0, 245, .25);
  border-top: 2px solid var(--magenta);
}

#footer a {
  color: white;
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: none!important;
}

</style>