<!DOCTYPE html>
<html>

<%- include('partials/head'); %>

<body>
  <%- include('partials/header'); %>
  <div class="row p-5 d-flex" id="about">
    <div class="about-images p-5 d-flex justify-content-around">
      <img class="mw-100" src="/images/about.png" />
    </div>
    <div class="about-blurb">
      <h1>About Me</h1>
      <p>
        Hi, I'm Katie! I'm a software developer who loves problem-solving and creating clean, user-friendly websites and
        applications. I've worked with technologies like Python, PHP, JavaScript, HTML, CSS, and Docker, and I enjoy
        learning new tools and finding better ways to bring ideas to life online.
      </p>
      <p>Outside of coding, I'm usually hanging out with my husband and our two dogs or working on one of my many craft
        projects — crochet is my favorite. I love being creative, whether that's making something by hand or building a
        beautiful website that not only looks great but also fulfills a function people really need.
      </p>
    </div>

    <div class="mw-100 pt-3">
      <h2 class="text-center">Let connect! Email me at <a href="mailto: wiessfeltk89@gmail.com" style="word-wrap: break-word;">wiessfeltk89@gmail.com</a></h2>
      <img class="mw-100" src="/images/ad.png" />
    </div>
  </div>

  <%- include('partials/footer'); %>
</body>

<link rel="stylesheet" href="/css/about.css" />

</html>