<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/styles'); %>
</head>

<body>
  <%- include('partials/header'); %>

  <h1>About Us</h1>
  <p>This is the about page.</p>
  <a href="/">Back Home</a>

  <%- include('partials/footer'); %>
</body>

</html>