<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>

<body>
  <%- include('partials/header'); %>
    <div class="p-5">
      <h2>Projects</h2>
      <h4>Wireframing, Coding</h4>
      <div id="projects" class="row">
        <!-- Castle CMS -->
        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card">
            <div class="d-flex justify-content-around image-container">
              <img src="/images/logos/CastleCMS.png" class="card-img-top" alt="Castle CMS">
            </div>
            <div class="card-body">
              <h5 class="card-title">Castle CMS</h5>
              <div class="card-text">
                <div class="snippet">
                  Backend contributions in Python for CastleCMS, a custom content management system by Wildcard Corp.
                </div>
                <div class="description">
                  I contributed Python code across several backend repositories supporting CastleCMS,
                  a custom content management system developed by Wildcard Corp. My work focused on
                  enhancing backend functionality, maintaining clean and scalable code, and ensuring
                  smooth integration within the larger system architecture. This project deepened my
                  experience working within established codebases and collaborating on enterprise-level
                  software. <a href="https://castlecms.io">https://castlecms.io</a>
                </div>
                <div class="pt-2 d-flex flex-row-reverse align-self-end">
                  <small class="show-more">Show More</small>
                </div>
              </div>
            </div>
            <ul class="description list-group list-group-flush">
              <li class="list-group-item"><a href="https://github.com/castlecms/castle.cms/pull/553">sha256</a></li>
              <li class="list-group-item"><a href="https://github.com/castlecms/castle.cms/pull/554">Fix celery</a></li>
              <li class="list-group-item"><a href="https://github.com/castlecms/castle.cms/pull/572">Dynamic form</a></li>
              <li class="list-group-item"><a href="https://github.com/castlecms/castle.cms/pull/580">Open AI</a></li>
              <li class="list-group-item"><a href="https://github.com/castlecms/castle.cms/pull/583">Fix upload file form</a></li>
              <li class="list-group-item"><a href="https://github.com/castlecms/castle.cms/pull/612">Query Listing</a></li>
            </ul>
          </div>
        </div>
        <!-- TIBI -->
        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card">
            <div class="d-flex justify-content-around image-container">
              <img src="/images/logos/TIBI.png" class="card-img-top" alt="TIBI">
            </div>
            <div class="card-body">
              <h5 class="card-title">TIBI</h5>
              <div class="card-text">
                <div class="snippet">
                  Salon booking website with custom wireframes and frontend development.
                </div>
                <div class="description">
                  I designed the initial user experience and interface themes for a salon
                  booking website using Figma wireframes, focusing on clear navigation and
                  ease of use. In addition to design, I contributed to the frontend
                  implementation by coding responsive components and refining the UI to match
                  the design vision. This project highlights my ability to translate design
                  concepts into functional, user-friendly interfaces.
                </div>
                <div class="pt-2 d-flex flex-row-reverse align-self-end">
                  <small class="show-more">Show More</small>
                </div>
              </div>
            </div>
            <ul class="description list-group list-group-flush">
              <li class="list-group-item"><a href="/projects/TIBI">Wireframes</a></li>
            </ul>
          </div>
        </div>
        <!-- Portfolio -->
        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card">
            <div class="d-flex justify-content-around image-container">
              <img src="/images/logos/katieWiessfelt.png" class="card-img-top m-auto w-100 d-flex justify-content-around" alt="Personal Projects">
            </div>
            <div class="card-body">
              <h5 class="card-title">Personal Projects</h5>
              <div class="card-text">
                <div class="snippet">
                  A collection of personal projects showcasing design, problem-solving, and web development skills.
                </div>
                <div class="description">
                  I enjoy exploring new technologies and sharpening my skills through personal projects. Highlights include:
                  <ul>
                    <li>Dog boarding and bakery website (sample project): Designed wireframes in Figma and built a responsive frontend in React to bring the concept to life.</li>
                    <li>Portfolio (this site): From Figma wireframes to frontend implementation, I designed and developed my own portfolio site using express.js to showcase my work.</li>
                    <li>Kattis problem repository: A collection of coding solutions to algorithmic challenges, focusing on problem-solving and clean code.</li>
                  </ul>
                  These projects reflect my ability to learn independently, take ideas from concept to code, and apply both design and development practices across different contexts.
                </div>
                <div class="pt-2 d-flex flex-row-reverse align-self-end">
                  <small class="show-more">Show More</small>
                </div>
              </div>
            </div>
            <ul class="description list-group list-group-flush">
              <li class="list-group-item"><span class="text-uppercase h6 pe-2">Bed and Biscuits</span><small><a href="/projects/bed-and-biscuits">Wireframes</a> | <a href="https://github.com/katiewiessfelt/bed-and-biscuits">Github</a> | <a href="https://katiewiessfelt.github.io/bed-and-biscuits/">Site</a></small></li>
              <li class="list-group-item"><span class="text-uppercase h6 pe-2">Portfolio</span><small><a href="/projects/portfolio">Wireframes</a> | <a href="https://github.com/katiewiessfelt/portfolio">Github</a> | <a href="/">Site</a></small></li>
              <li class="list-group-item"><span class="text-uppercase h6 pe-2">Kattis</span><small><a href="https://github.com/katiewiessfelt/kattis">Github</a></small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer'); %>
    <script type="module">
      $('.description').hide()
      $(document).on('click', '.show-more', function() {
        const card = $(this).closest('.card');
        $(card).find('.snippet').hide();
        $(card).find('.description').show();
        $(this).text('Show Less');
        $(this).addClass('show-less');
        $(this).removeClass('show-more');
      })
      $(document).on('click', '.show-less', function() {
        const card = $(this).closest('.card');
        $(card).find('.description').hide();
        $(card).find('.snippet').show();
        $(this).text('Show More');
        $(this).addClass('show-more');
        $(this).removeClass('show-less');
      })
    </script>
</body>

<link rel="stylesheet" href="/css/projects.css">

</html>