#home hr.thick-hr {
  /* Adjust the value for desired thickness */
  height: 3px;
  /* Optional: set a background color */
  background-color: var(--white);
  /* Remove default border */
  border: none;
}
#home .skill-box {
  text-align: center;
}
@media (max-width: 768px) {
  #home .skill-box {
    /* small screen */
    padding: 5em 10em;
  }
  #home .skill-box:nth-child(2) {
    border-top: 5px solid var(--cyan);
    border-bottom: 5px solid var(--cyan);
  }
}
@media (min-width: 769px) {
  #home .skill-box {
    /* large screen */
    padding: 3em;
  }
  #home .skill-box:nth-child(2) {
    border-left: 5px solid var(--cyan);
    border-right: 5px solid var(--cyan);
  }
}
#home h3 {
  margin-top: 1em;
  margin-bottom: 2em;
}
@media (min-width: 769px) {
  #home #skills {
    /* large screen */
    display: flex;
    flex-direction: row;
    margin-top: 4em;
  }
}
@media (max-width: 768px) {
  #home #skills {
    /* small screen */
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  #home h2 {
    width: 33.33333333% !important;
  }
}
@media (max-width: 768px) {
  #home .header-accent {
    /* small screen */
    display: none;
  }
}
@media (max-width: 768px) {
  #home #accent-border {
    position: relative;
    padding: 2rem;
    background: none; /* inner bg */
  }
  #home #accent-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 10px; /* border thickness */
    background: linear-gradient(to right, var(--magenta), var(--yellow)) top, linear-gradient(to bottom, var(--yellow), var(--green)) right, linear-gradient(to left, var(--green), var(--blue)) bottom, linear-gradient(to top, var(--blue), var(--magenta)) left;
    background-size: 100% 10px, 10px 100%, 100% 10px, 10px 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    -webkit-mask: linear-gradient(var(--white) 0 0) content-box, linear-gradient(var(--white) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}
#home img {
  height: 10em;
}
#home .image-wrapper {
  position: relative;
}
#home .image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}
#home .overlay {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#home .overlay > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 1024px) and (min-width: 769px) {
  #home .overlay > div {
    margin-bottom: 3em;
  }
  #home .overlay > div > button {
    margin: 1em;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  #home .overlay {
    top: 43%;
    left: 50%;
    flex-direction: column;
  }
}
#home #actions-mobile {
  display: none;
}
@media (max-width: 768px) {
  #home #actions-mobile {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  #home #actions-mobile {
    display: none;
  }
}
#home > #main,
#home > #main > div {
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 768px) {
  #home #actions {
    display: none;
  }
}
#home .btn-actions {
  color: var(--white);
  border-color: var(--magenta);
  box-shadow: 0 0 20px 1px var(--magenta);
  border-radius: 40px;
  white-space: nowrap;
  width: 20em;
}
@media (max-width: 768px) {
  #home .btn-actions {
    margin-bottom: 3em;
  }
}
#home .btn > h3 {
  margin: 0;
  padding: 0.5em 1em;
}

/*# sourceMappingURL=index.css.map */
